@import "tailwindcss";

@font-face {
  font-family: 'texture';
  src: url('./assets/fonts/rdr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-texture {
  font-family: 'texture', sans-serif;
}


html, body {
  height: 100%;
  
}

